{% extends 'base/base.html' %} {%block content%}
<div class="grid">
    {% for pokemon in shuffled_deck %}
    <div class="grid-card" style="width: 14rem; background-color: {{pokemon.species.color.name}};">
        <img class="card-img-top" src="{{pokemon.img_url}}" alt="couldn't find image">
        <div class="card-body">
            <h5 class="card-title">{{pokemon.name |title}}</h5>
            <p>Base XP: {{pokemon.base_experience}}</p>
            <p>Type: {{pokemon.type|title}}</p>
            <p>Species: {{pokemon.species}}</p>
            <p>Weight: {{pokemon.weight}}</p>
            {% if pokemon.is_legendary%}
            <p>Legendary!</p>
            {% endif %}
            <!-- <p>{{pokemon.url}}</p> -->
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}