{% if form.errors %}
<p>That didn't work, try again or sign in</p>
{%endif%}{% if not user.is_authenticated %}
<form method='POST' style="display: inline-block" class="form-inline my-2 my-lg-0">
    {% csrf_token %} {% load widget_tweaks %}
    <div class="">{{ login_form.username|append_attr:"placeholder:Username"}}</div>
    <div class="">{{ login_form.password|append_attr:"placeholder:Password"}}</div>
    <input class=" btn" class="btn " type="submit" value="Login">
    <a class=" btn " href={% url 'SignUp' %}>Signup</a>
</form>
{% else %}
<div>
    <div class="nav-item">
        <a class="ml-2 btn-dark" href="{% url 'profileDetail' user.profile.pk %}"><img class="mr-2" src="../../media/{{user.profile.image}}" alt='User image' width='50' height='50' style='border: solid 3px white; border-radius:50%'>{{user.username}}</a>
        <a class="ml-2 btn-dark" href="{% url 'logout' %}" class="btn btn-danger " style="display: inline-block">Logout</a>
    </div>
</div>
{%endif%}