{% extends 'base/base.html' %} {%block content%}
<div>
    <div class="welcome">Hi {{user.first_name}} {{user.last_name}}!</div>
    <p>We are adding Pokemon to your Pokemon vault</p>
    <p>In a moment you will be able to access all your pokemon from your vault and see their stats</p>
    <p>for making a trade you will get 7 pokemon selected at random out of your vault and can create an offer to your friends or publish the offer publicly</p>
    <p>Check out the offer's section to see publicly traded offers!</p>
    <h3>he are ready, it's time to check out your vault!</h3>
    <!-- add arrow animation -->
</div>
{%block endblock%}