.grid input[type=checkbox] {
    display: none;
    transition: 0.5s;
}

#field_id_public input[type=checkbox],
p {
    display: inline-block;
}

input[type=checkbox]:checked~#grid_card_0 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_1 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_2 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_3 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_4 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_5 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_6 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

input[type=checkbox]:checked~#grid_card_7 {
    border-radius: 15px;
    border: 15px solid green;
    width: 16em;
    background-color: green;
    transition: 0.5s;
}

#field_id_public {
    border-radius: 4px;
    height: 4em;
    width: 20em;
    margin-left: 1em;
    padding: 1em;
    background-color: white;
}

body {
    margin: 0;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}


/* nav {
    position: fixed;
    top: 0px;
} */

main {
    margin: auto;
    width: 80%;
    margin-top: 1em;
}

.grid {
    display: grid;
    grid-gap: 6em;
    grid-template-columns: repeat( auto-fit, minmax(150px, 2fr));
    margin-bottom: 3em;
}

.grid-card {
    border: 0.5px solid grey;
    margin: 0.2em;
    box-shadow: 8px 8px 8px 8px rgba(255, 255, 255, 0.16);
    height: 31.5em;
    width: 14em;
    border-radius: 15px;
    overflow: hidden;
}

.card-body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 0px;
    border: 0.5px solid grey;
}

.legendary {
    background-color: #FFD700 !important;
}

.trade-detail {
    color: white;
}

.welcome {
    color: white;
}