body {
    margin: 0;
}

main {
    margin: auto;
    width: 80%;
    margin-top: 1em;
}

.grid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}

.grid-card {
    border: 0.5px solid grey;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.16);
}