{% extends 'base/base.html' %} {%block content%}
<form method='Post'>
    <div class="grid">
        {% csrf_token %} {% for mci, name in form.cards.field.widget.choices %}
        <label for="id_cards_{{forloop.counter0}}"><input type="checkbox" name="cards" value="{{mci}}" id="id_cards_{{forloop.counter0}}">{% include 'partials/card.html' with pokemon=mci.instance %}</label> {% endfor %}
    </div>
    <div style="color:white">Make this publicly available{{form.public}}</div>
    <input type="submit" class="button btn-primary" value="Submit offer">
</form>
{%endblock content%}