{% extends 'base/base.html' %} {% block content %} {% if user.is_authenticated %}
<div>
    <h2>Update Your Profile</h2>
    <div>
        <p>User ID: {{profile.user.id}}</p>
        <p>Hi {{user.first_name}} {{user.last_name}}. Here you can update your profile</p>
        <p></p>
    </div>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}{% load widget_tweaks %}
        <img src="../../media/{{user.profile.image}}" alt='User image' width='200' height='200' style='border: solid 3px white;'> {{form.image}}
        <input class="user-info-input btn" class="btn" type="submit" value="Save">
    </form>
</div>
{%endif%} {%endblock%}