{% extends 'base/base.html' %} {%block content%}
{% comment %} {{shuffled_deck.0.4}} {% endcomment %}
<form method='Post' action="trade_offer_made">
    {% csrf_token %}
    <div class="grid">
        {% for pokemon in shuffled_deck %}
        <input type="checkbox" class="checkbox-card" value="pokemon_{{pokemon.1.name}}">
        <label for="pokemon_{{pokemon.1.name}}">
            <div class="grid-card" style="background-color: {{pokemon.1.species.color.name}};">
                <img class="card-img-top" src="{{pokemon.1.img_url}}" alt="couldn't find image">
                <div class="card-body">
                    <h5 class="card-title">{{pokemon.1.name |title}}</h5>
                    <p>Base XP: {{pokemon.1.base_experience}}</p>
                    <p>Type: {{pokemon.1.type|title}}</p>
                    <p>Species: {{pokemon.1.species}}</p>
                    <p>Weight: {{pokemon.1.weight}}</p>
                    {% if pokemon.1.is_legendary%}
                    <p>Legendary!</p>
                    {% endif %}
                    <!-- <p>{{pokemon.1.url}}</p> -->
                </div>
            </div>
        </label> {% endfor %}
    </div>
    <input type="checkbox" class="checkbox-card" value="public">
    <label for="public">Public</label>
    <input type="submit" class="button btn-primary" value="Submit offer">
</form>
{% endblock %}